# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
gatsby-nodeYC.js
gatsby-nodeFC.js
gatsby-configYC.js
gatsby-configFC.js
copies/
content/tours/5522-full-day-tour-del-rey-3ORIG.md
content/tours/5522-full-day-tour-del-rey-3CMS.md
